// _about-me.scss
.about-me {
  min-height: 100vh;
  font-size: 90px;
  background-color: black;
  // padding-top: 80vh;
  padding: 80px;
  // opacity: 0; // <- uncomment only in conjunction with the first function in main.js
  // color: $text !important;
}

a + span {
  display: none;
  background-size: cover;
  width: 500px;
  height: 500px;
  position: absolute;
}

a:hover + span {
  display: block;
}
