// _about-me.scss
.about-me p:not(:first-child) {
  font-size: 65px;
  background-color: transparent;
  text-align: justify;
  text-justify: inter-word;
}

.about-me a {
  text-decoration: underline;
}

a + span {
  display: none;
  background-size: cover;
  width: 500px;
  height: 500px;
  position: absolute;
  box-shadow: 0px 0px 202px -44px $primary-color;
}

a:hover + span {
  display: block;
}

.about-me {
  // border: 1px solid white;
  box-shadow: 0px 0px 802px -64px $primary-color;
}

.about-me-text {
  text-decoration: overline;
  padding: 60px 60px 0 60px;
}

.about-me-text-1 {
  text-decoration: underline;
  padding: 0 60px 60px 60px;
}

@media(max-width: 1400px) {
  .about-me p:not(:first-child) {
    font-size: 33px;
    padding: 35px;
  }

  .about-me-text, .about-me-text-1 {
    text-decoration: none;
  }

  a + span {
    width: 250px;
    height: 250px;
  }
}

@media(max-width: 840px) {
  .about-me p:not(:first-child) {
    font-size: 20px;
    padding: 25px;
  }
}

@media(max-width: 380px) {
  .about-me p:not(:first-child) {
    font-size: 16px;
    padding: 20px;
  }
}
