// COLOURS
$primary-color: #C31826;
$gold: #F0CE7B;

* {
  scroll-behavior: smooth;
}

body {
  font-family: gill-sans-nova-shadowed-outl, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

a {
  text-decoration: none;
  text-transform: uppercase;;
  color: white;
  &:hover {
    color: $primary-color;
  }
}
