// _contact.scss
.contact p {
  align-items: flex-start;
}

.contact-item {
  font-size: 80px;
}

.contact-item a {
  padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;;
    color: white;
    &:hover {
      text-decoration: line-through;
      outline-width: thick;
      color: $primary-color;
      text-shadow: 0px 0px 9px rgba(180, 9, 20, 1);
  }
}

.contact {
  // border: 1px solid white;
  box-shadow: 0px 0px 802px -74px $primary-color;
}

.contact-wrap {
  height: 94vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}

@media(max-width: 840px) {

}


@media(max-width: 840px) {
  .contact-wrap {
    height: auto;
    width: 300px;
    padding: 80px 0;
  }

  .contact-item {
    font-size: 35px;
  }

  .contact {
    border: 1px solid black;
    box-shadow: 0px 0px 202px -44px $primary-color;
    margin-bottom: 100px;
  }
}

@media(max-width: 380px) {
    .contact-wrap {
      padding: 60px 0
    }

    .contact-item{
      font-size: 32px;
    }

    .contact {
    margin-bottom: 50px;
    margin-top: -50px;
  }
}
