// _contact.scss
.contact p {
  align-items: flex-start;
}
.contact-item {
  font-size: 80px;
}

.contact-item a {
  // margin: 0 1rem;
  padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;;
    color: white;
    &:hover {
    text-decoration: line-through;
    outline-width: thick;
    color: $primary-color;
    text-shadow: 0px 0px 9px rgba(180, 9, 20, 1);
  }
}

.contact {
  box-shadow: inset 0px 0px 802px -74px $primary-color;
}

.contact-wrap {
  height: 94vh;
    display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}
