// COLOURS
$primary-color: #C31826;
$gold: #F0CE7B;
$text: #E0E0E0;
$night: #1F1F1F;

// FONTS
$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font2: "proxima-nova-condensed", sans-serif;

* {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: $main-font;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  &:hover {
    text-decoration: line-through;
    outline-width: thick;
    color: $primary-color;
    text-shadow: 0px 0px 9px rgba(76, 9, 20, 1);
  }
}
