// _contact.scss
.contact {
  // background-color: blue;
}
.contact-item {
  font-size: 80px;
}

.contact-item a {
  // margin: 0 1rem;
  padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;;
    color: white;
    &:hover {
      color: $primary-color;
  }
}
