// _hero.scss
.profile-media {
  // margin-bottom: 60vh;
  height: 100vh !important;
}

.intro-text {
  color: $gold;
  font-size: 2em;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  text-align: right;
  line-height: 0.5;
  letter-spacing: 3px;
}

.underline {
  height: 5px;
  background-color: white;
  margin-bottom: -0.7em;
  margin-top: -1em;
  // border-radius: 5px;
  // padding: 4px 10px;
  // &:hover {
  //   // font-style: italic;
  // }
}
