// _hero.scss
.profile-media {
  margin-bottom: 60vh;
  height: 100vh !important;
}

.intro-text {
  color: $gold;
  font-size: 2em;
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  text-align: right;
  line-height: 0.5;
  letter-spacing: 3px;
}

.hire-me {
  border-bottom: 1px solid;
  // border-radius: 5px;
  // padding: 4px 10px;
  &:hover {
    font-style: italic;
  }
}
