// _in-betweens.scss
// #section-1, #section-2, #section-3 {
//   display:none;
// }

//WELCOME
#welcome-15 {
  font-size: 15em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#welcome-animated-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#welcome-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#welcome-145 {
  font-size: 14.5em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#welcome-143 {
  font-size: 14.3em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}


// WORK
#work-15 {
  font-size: 15em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#work-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#work-145 {
  font-size: 14.5em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#work-143 {
  font-size: 14.3em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

// SAY HI!
#hi-15 {
  font-size: 15em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#hi-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#hi-145 {
  font-size: 14.5em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

#hi-142 {
  font-size: 14.2em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px rgba(100, 9, 20, 1);
}

@media(max-width: 1030px){

  #welcome-animated-147 {
    font-size: 10.1em;
    margin: 6px auto;
  }

  #welcome-147 {
    font-size: 10.1em;
    margin: 12px auto;
  }

  #welcome-15 {
    font-size: 10.2em;
    margin: 0 auto;
  }

  #welcome-145 {
    font-size: 9.9em;
    margin: 0 auto;
  }

  #welcome-143 {
    font-size: 9.7em;
    margin: 12px auto;
  }

  #work-15 {
    font-size: 14.5em;
  }

  #work-147 {
    font-size: 14.4em;
    margin: 14px auto;
  }

  #work-145 {
    font-size: 14.2em;
  }

  #work-143 {
    font-size: 14em;
    margin: 14px auto;
  }


  #hi-15 {
    font-size: 13.8em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 13.5em;
    margin: 7px auto;
  }

  #hi-145 {
    font-size: 13.2em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 13em;
    margin: 7px auto;
  }
}


@media(max-width: 830px){

  #welcome-animated-147 {
    font-size: 8.1em;
    margin: 6px auto;
  }

  #welcome-147 {
    font-size: 8.1em;
    margin: 6px auto;
  }

  #welcome-15 {
    font-size: 8.2em;
    margin: 0 auto;
  }

  #welcome-145 {
    font-size: 7.9em;
    margin: 0 auto;
  }

  #welcome-143 {
    font-size: 7.7em;
    margin: 6px auto;
  }

  // WORK QUERIES 450px
  #work-15 {
    font-size: 10.5em;
  }

  #work-147 {
    font-size: 10.4em;
    margin: 7px auto;
  }

  #work-145 {
    font-size: 10.2em;
  }

  #work-143 {
    font-size: 10em;
    margin: 7px auto;
  }

  #hi-15 {
    font-size: 9.8em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 9.5em;
    margin: 7px auto;
  }

  #hi-145 {
    font-size: 9.2em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 9em;
    margin: 7px auto;
  }
}

@media(max-width: 670px){
  #welcome-animated-147 {
    font-size: 7.1em;
    margin: 6px auto;
  }

  #welcome-147 {
    font-size: 7.1em;
    margin: 6px auto;
  }

  #welcome-15 {
    font-size: 7.2em;
    margin: 0 auto;
  }

  #welcome-145 {
    font-size: 6.9em;
    margin: 0 auto;
  }

  #welcome-143 {
    font-size: 6.7em;
    margin: 6px auto;
  }

  #hi-15 {
    font-size: 9.1em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 8.8em;
    margin: 7px auto;
  }

  #hi-145 {
    font-size: 8.5em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 8.3em;
    margin: 7px auto;
  }
}


@media(max-width: 580px){
  #welcome-animated-147 {
    font-size: 6.1em;
    margin: 6px auto;
  }

  #welcome-147 {
    font-size: 6.1em;
    margin: 6px auto;
  }

  #welcome-15 {
    font-size: 6.2em;
    margin: 0 auto;
  }

  #welcome-145 {
    font-size: 5.9em;
    margin: 0 auto;
  }

  #welcome-143 {
    font-size: 5.7em;
    margin: 6px auto;
  }

  // WORK QUERIES 450px
  #work-15 {
    font-size: 9.5em;
  }

  #work-147 {
    font-size: 9.4em;
    margin: 7px auto;
  }

  #work-145 {
    font-size: 9.2em;
  }

  #work-143 {
    font-size: 9em;
    margin: 7px auto;
  }


  #hi-15 {
    font-size: 7.8em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 7.5em;
    margin: 7px auto;
  }

  #hi-145 {
    font-size: 7.2em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 7em;
    margin: 7px auto;
  }
}

// MEDIA QUERIES
@media(max-width: 450px) {
  .in-between {
    height: 60vh;
  }

  #welcome-animated-147 {
    font-size: 4.1em;
    margin: 4px auto;
  }

  #welcome-147 {
    font-size: 4.1em;
    margin: 4px auto;
  }

  #welcome-15 {
    font-size: 4.2em;
    margin: 0 auto;
  }

  #welcome-145 {
    font-size: 3.9em;
    margin: 0 auto;
  }

  #welcome-143 {
    font-size: 3.7em;
    margin: 4px auto;
  }

  // WORK QUERIES 450px
  #work-15 {
    font-size: 6.5em;
  }

  #work-147 {
    font-size: 6.4em;
    margin: 5px auto;
  }

  #work-145 {
    font-size: 6.2em;
  }

  #work-143 {
    font-size: 6em;
    margin: 5px auto;
  }

  // SAY HI! QUERIES 450px
  #hi-15 {
    font-size: 5.8em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 5.5em;
    margin: 4.5px auto;
  }

  #hi-145 {
    font-size: 5.2em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 5em;
    margin: 4.5px auto;
  }
}



@media(max-width: 380px) {
  #welcome-animated-147 {
    font-size: 3.3em;
    margin: 5px auto;
  }

  #welcome-147 {
    font-size: 3.3em;
    margin: 5px auto;
  }

  #welcome-15 {
    font-size: 3.4em;
  }

  #welcome-145 {
    font-size: 3.1em;
  }

  #welcome-143 {
    font-size: 2.9em;
    margin: 5px auto;
  }



  // WORK QUERIES 380px
  #work-15 {
    font-size: 6.1em;
  }

  #work-147 {
    font-size: 6.0em;
    margin: 5px auto;
  }

  #work-145 {
    font-size: 5.8em;
  }

  #work-143 {
    font-size: 5.6em;
    margin: 5px auto;
  }

  // SAY HI! QUERIES 380px
  #hi-15 {
    font-size: 5.3em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 5em;
    margin: 5px auto;
  }

  #hi-145 {
    font-size: 4.8em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 4.5em;
    margin: 5px auto;
  }
}

@media(max-width: 330px) {
  #welcome-animated-147 {
    font-size: 3.1em;
    margin: 5px auto;
  }

  #welcome-147 {
    font-size: 3.1em;
    margin: 5px auto;
  }

  #welcome-15 {
    font-size: 3.2em;
    margin: 0 auto;
  }


  #welcome-145 {
    font-size: 2.9em;
    margin: 0 auto;
  }

  #welcome-143 {
    font-size: 2.7em;
    margin: 5px auto;
  }

  // WORK QUERIES 330px
  #work-15 {
    font-size: 5.1em;
  }

  #work-147 {
    font-size: 5.0em;
    margin: 5px auto;
  }

  #work-145 {
    font-size: 4.8em;
  }

  #work-143 {
    font-size: 4.6em;
    margin: 5px auto;
  }

  // SAY HI! QUERIES 330px
  #hi-15 {
    font-size: 4.3em;
    margin: 0 auto;
  }

  #hi-147 {
    font-size: 4em;
    margin: 5px auto;
  }

  #hi-145 {
    font-size: 3.8em;
    margin: 0 auto;
  }

  #hi-142 {
    font-size: 3.5em;
    margin: 5px auto;
  }
}
