// _index.scss

body {
  background-color: black;
  color: white;
  // CSS smooth scroll
  // overflow: hidden;
}


a {
  color: white;
  text-decoration: none;
}

.site-container {
  // CSS smooth scroll
  // overflow-y: scroll;
  // scroll-behavior: smooth;
  // scroll-snap-type: y mandatory;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: center;
}

  .profile-media {
    margin-bottom: 600px;
  }

.intro-text {
  font-size: 3em;
  margin-top: 290px;
}

.about-me {
  font-size: 80px;
}

.site-container {
  width: 85%;
  margin: 0 auto;
}
