// _index.scss

body {
  background-color: black;
  color: white;
}


a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 100vh;
}

.site-container {
  width: 80%;
  margin: 0 auto;
}
