// _navbar.scss
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  line-height: 0.1;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
}

.logo {
  font-size: 1.85em;
  padding-left: 1.5em;
  a:hover {
    color: $primary-color;
  }
}

.navbar {
  padding-right: 1.5em;
  font-size: 1.75em;
}

.navbar ul {
  list-style: none;
  text-align: right;
  justify-content: right;
}

.navbar ul li {
  padding: 1rem;
}


@media (max-width: 840px) {
  header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 40px;
  }
  .logo {
    font-size: 1.2em;
    padding-left: 1em;
  }
  .navbar {
    padding-right: 1em;
    font-size: 1.2em;
  }

  .navbar ul li {
    padding-bottom: 0.4em;
  }
}
