// _navbar.scss
header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  display: flex;
  line-height: 0.1;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1;
  // margin: 0 3rem;
}

.logo {
  padding-left: 1.5em;
}

.navbar {
  padding-right: 1.5em;
}

.navbar ul {
  list-style: none;
  text-align: right;
  justify-content: right;
}

.navbar ul li {
  padding: 1rem;

  a{
    text-decoration: none;
    text-transform: uppercase;;
    color: white;
    &:hover {
      color: $primary-color;
    }
  }
}
