// _work-card.scss

// .work-card {
//   color: black;
//   height: 500px;
//   width: 800px;
//   background-color: white;
//   transform: translateX(100px);
// }

// .scroll-in-up {
//   transform: translateX(0px);
// }

.work-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding-top: 100vh;
  // background-color: red;
  height: 100vh;
}

.work-card {
  height: 700px;
  width: 580px;
  box-shadow: 0px 0px 202px -44px $primary-color;
}
