// _work-card.scss

.work-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-top: 2vh;
}

.work-card {
  height: 700px;
  width: 580px;
  box-shadow: 0px 0px 202px -44px $primary-color;
  background-color: black;
  border: 1px solid black;
  overflow:hidden;
  background-size:cover;

  img {
    width: 100%;
  }

  h3 {
    padding: 0px 48px;
  }

  .card-icons {
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 30px 48px 0px 48px;
  }
}

.work {
  border: 1px solid white;
  margin-top: 2vh;
}


// MEDIA QUERIES
@media(max-width: 450px) {
  .work-wrap{
    display: block;
    height: 100%;
  }

  .work {
    border: 1px solid black;
    margin-top: 2vh;
  }

  .work-card {
    margin: 60px auto;
    height: auto;
    width: 300px;
    box-shadow: 0px 0px 202px -44px $primary-color;

    img {
      width: 100%;
    }

    h3 {
      padding: 20px 20px;
      font-size: 12px;
    }

    .card-icons {
      font-size: 30px;
      padding: 20px 10px 0px 20px;
    }
  }
}
