* {
  scroll-behavior: smooth; }

html {
  margin: 0 !important;
  padding: 0;
  width: 100vw; }

section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%; }

.in-between {
  height: 80vh; }

body {
  background-color: black;
  background-image: none;
  color: white;
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  padding: 0 !important;
  margin: 0 !important;
  width: 100vw !important;
  overflow-x: hidden; }

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white; }
  a:hover {
    text-shadow: 0px 0px 4px #b40914; }

@media (max-width: 450px) {
  .test-text {
    font-size: 0.4em; } }
.site-container {
  width: 80%;
  margin: 0 auto; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  line-height: 0.1;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1; }

.logo {
  font-size: 1.85em;
  padding-left: 1.5em; }
  .logo a:hover {
    text-shadow: 0px 0px 9px #b40914; }

.navbar {
  padding-right: 1.5em;
  padding-top: 0.3em;
  font-size: 1.75em; }

.navbar ul {
  list-style: none;
  text-align: right;
  justify-content: right; }
  .navbar ul li {
    padding-bottom: 2rem; }

@media (max-width: 840px) {
  .logo {
    font-size: 1.2em;
    padding-left: 1em; }

  .navbar {
    font-size: 1.2em; } }
.contact p {
  align-items: flex-start; }

.contact-item {
  font-size: 80px; }

.contact-item a {
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white; }
  .contact-item a:hover {
    text-shadow: 0px 0px 9px #b40914; }

.contact {
  box-shadow: 0px 0px 802px -74px #C31826; }

.contact-wrap {
  height: 94vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%; }

@media (max-width: 840px) {
  .contact-wrap {
    height: auto;
    width: 300px;
    padding: 80px 0; }

  .contact-item {
    font-size: 35px; }

  .contact {
    border: 1px solid black;
    box-shadow: 0px 0px 202px -44px #C31826;
    margin-bottom: 100px; } }
@media (max-width: 380px) {
  .contact-wrap {
    padding: 60px 0; }

  .contact-item {
    font-size: 32px; }

  .contact {
    margin-bottom: 50px;
    margin-top: -50px; } }
footer {
  position: fixed;
  bottom: 1.3em;
  left: 0;
  width: 80%;
  overflow: hidden;
  z-index: 8;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  font-size: 1.7em; }

.hidden {
  display: none; }

@media (max-width: 840px) {
  footer {
    font-size: 1em;
    padding-bottom: 1em; } }
@media (max-width: 570px) {
  footer {
    font-size: 1em; } }
@media (max-width: 450px) {
  #footer {
    display: none; } }
.work-wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-top: 2vh; }

.work-card {
  height: 700px;
  width: 580px;
  box-shadow: 0px 0px 202px -44px #C31826;
  background-color: black;
  border: 1px solid black;
  overflow: hidden;
  background-size: cover; }
  .work-card img {
    width: 100%; }
  .work-card h3 {
    padding: 0px 48px; }
  .work-card .card-icons {
    display: inline-block;
    color: white;
    font-size: 30px;
    padding: 30px 48px 0px 48px; }

.work {
  margin-top: 2vh; }

@media (max-width: 840px) {
  .work-wrap {
    display: block;
    height: 100%; }

  .work-card {
    margin: 60px auto;
    height: auto;
    width: 400px;
    box-shadow: 0px 0px 202px -44px #C31826; }
    .work-card h3 {
      padding: 20px 20px;
      font-size: 16px; }

  .work {
    border: 1px solid black;
    margin-top: 2vh; }

  .card-icons {
    font-size: 30px;
    padding: 20px 10px 0px 20px; } }
@media (max-width: 450px) {
  .work-card {
    width: 300px; } }
@media (max-width: 330px) {
  .work-card {
    width: 250px; } }
.about-me p:not(:first-child) {
  font-size: 65px;
  background-color: transparent;
  text-align: justify;
  text-justify: inter-word; }

.about-me a {
  text-decoration: underline; }

a + span {
  display: none;
  background-size: cover;
  width: 500px;
  height: 500px;
  position: absolute;
  box-shadow: 0px 0px 202px -44px #C31826; }

a:hover + span {
  display: block; }

.about-me {
  box-shadow: 0px 0px 802px -64px #C31826; }

.about-me-text {
  text-decoration: overline;
  padding: 60px 60px 0 60px; }

.about-me-text-1 {
  text-decoration: underline;
  padding: 0 60px 60px 60px; }

@media (max-width: 840px) {
  .about-me p:not(:first-child) {
    font-size: 20px;
    padding: 25px; }

  .about-me {
    border: 1px solid transparent;
    box-shadow: 0px 0px 202px -44px #C31826; }

  .about-me-text, .about-me-text-1 {
    text-decoration: none; }

  a + span {
    display: none;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    box-shadow: 0px 0px 202px -44px #C31826; } }
.profile-media {
  height: 95vh !important;
  box-shadow: 0px 0px 202px -64px #C31826; }

.intro-text {
  font-size: 1.9em;
  position: absolute;
  bottom: 0.1em;
  right: 1.5em;
  text-align: right;
  line-height: 0.4;
  letter-spacing: 3px; }

.underline {
  height: 2px;
  background-color: white;
  margin-bottom: -0.7em;
  margin-top: -1em; }

.hero {
  margin: 0 !important;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  width: 100%;
  height: 95vh;
  overflow: hidden;
  background-image: url("/stylesheets/images/Hero1.jpg"); }

@media (max-width: 1030px) {
  .profile-media {
    width: 100vw;
    height: 95vh; }

  .intro-text {
    font-size: 1.2em;
    position: absolute;
    line-height: 0.9;
    letter-spacing: 1px; } }
@media (max-width: 840px) {
  .intro-text {
    font-size: 1em;
    position: absolute;
    text-align: right;
    letter-spacing: 1px; } }
@media (max-width: 450px) {
  #hire-me {
    text-align: right; }

  .intro-text {
    bottom: 3em;
    right: 4.6em;
    text-align: center; } }
@media (max-width: 380px) {
  .intro-text {
    font-size: 0.92em;
    right: 4.4em; } }
@media (max-width: 330px) {
  .intro-text {
    font-size: 0.7em;
    right: 5.8em; } }
#welcome-15 {
  font-size: 15em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px #640914; }

#welcome-animated-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

#welcome-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

#welcome-145 {
  font-size: 14.5em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px #640914; }

#welcome-143 {
  font-size: 14.3em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

#work-15 {
  font-size: 15em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px #640914; }

#work-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

#work-145 {
  font-size: 14.5em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px #640914; }

#work-143 {
  font-size: 14.3em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

#hi-15 {
  font-size: 15em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px #640914; }

#hi-147 {
  font-size: 14.7em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

#hi-145 {
  font-size: 14.5em;
  position: absolute;
  margin: 0 auto;
  text-shadow: 0px 0px 9px #640914; }

#hi-142 {
  font-size: 14.2em;
  position: absolute;
  margin: 20px auto;
  text-shadow: 0px 0px 9px #640914; }

@media (max-width: 1030px) {
  #welcome-animated-147 {
    font-size: 10.1em;
    margin: 6px auto; }

  #welcome-147 {
    font-size: 10.1em;
    margin: 12px auto; }

  #welcome-15 {
    font-size: 10.2em;
    margin: 0 auto; }

  #welcome-145 {
    font-size: 9.9em;
    margin: 0 auto; }

  #welcome-143 {
    font-size: 9.7em;
    margin: 12px auto; }

  #work-15 {
    font-size: 14.5em; }

  #work-147 {
    font-size: 14.4em;
    margin: 14px auto; }

  #work-145 {
    font-size: 14.2em; }

  #work-143 {
    font-size: 14em;
    margin: 14px auto; }

  #hi-15 {
    font-size: 13.8em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 13.5em;
    margin: 7px auto; }

  #hi-145 {
    font-size: 13.2em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 13em;
    margin: 7px auto; } }
@media (max-width: 830px) {
  #welcome-animated-147 {
    font-size: 8.1em;
    margin: 6px auto; }

  #welcome-147 {
    font-size: 8.1em;
    margin: 6px auto; }

  #welcome-15 {
    font-size: 8.2em;
    margin: 0 auto; }

  #welcome-145 {
    font-size: 7.9em;
    margin: 0 auto; }

  #welcome-143 {
    font-size: 7.7em;
    margin: 6px auto; }

  #work-15 {
    font-size: 10.5em; }

  #work-147 {
    font-size: 10.4em;
    margin: 7px auto; }

  #work-145 {
    font-size: 10.2em; }

  #work-143 {
    font-size: 10em;
    margin: 7px auto; }

  #hi-15 {
    font-size: 9.8em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 9.5em;
    margin: 7px auto; }

  #hi-145 {
    font-size: 9.2em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 9em;
    margin: 7px auto; } }
@media (max-width: 670px) {
  #welcome-animated-147 {
    font-size: 7.1em;
    margin: 6px auto; }

  #welcome-147 {
    font-size: 7.1em;
    margin: 6px auto; }

  #welcome-15 {
    font-size: 7.2em;
    margin: 0 auto; }

  #welcome-145 {
    font-size: 6.9em;
    margin: 0 auto; }

  #welcome-143 {
    font-size: 6.7em;
    margin: 6px auto; }

  #hi-15 {
    font-size: 9.1em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 8.8em;
    margin: 7px auto; }

  #hi-145 {
    font-size: 8.5em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 8.3em;
    margin: 7px auto; } }
@media (max-width: 580px) {
  #welcome-animated-147 {
    font-size: 6.1em;
    margin: 6px auto; }

  #welcome-147 {
    font-size: 6.1em;
    margin: 6px auto; }

  #welcome-15 {
    font-size: 6.2em;
    margin: 0 auto; }

  #welcome-145 {
    font-size: 5.9em;
    margin: 0 auto; }

  #welcome-143 {
    font-size: 5.7em;
    margin: 6px auto; }

  #work-15 {
    font-size: 9.5em; }

  #work-147 {
    font-size: 9.4em;
    margin: 7px auto; }

  #work-145 {
    font-size: 9.2em; }

  #work-143 {
    font-size: 9em;
    margin: 7px auto; }

  #hi-15 {
    font-size: 7.8em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 7.5em;
    margin: 7px auto; }

  #hi-145 {
    font-size: 7.2em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 7em;
    margin: 7px auto; } }
@media (max-width: 450px) {
  .in-between {
    height: 60vh; }

  #welcome-animated-147 {
    font-size: 4.1em;
    margin: 4px auto; }

  #welcome-147 {
    font-size: 4.1em;
    margin: 4px auto; }

  #welcome-15 {
    font-size: 4.2em;
    margin: 0 auto; }

  #welcome-145 {
    font-size: 3.9em;
    margin: 0 auto; }

  #welcome-143 {
    font-size: 3.7em;
    margin: 4px auto; }

  #work-15 {
    font-size: 6.5em; }

  #work-147 {
    font-size: 6.4em;
    margin: 5px auto; }

  #work-145 {
    font-size: 6.2em; }

  #work-143 {
    font-size: 6em;
    margin: 5px auto; }

  #hi-15 {
    font-size: 5.8em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 5.5em;
    margin: 4.5px auto; }

  #hi-145 {
    font-size: 5.2em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 5em;
    margin: 4.5px auto; } }
@media (max-width: 380px) {
  #welcome-animated-147 {
    font-size: 3.3em;
    margin: 5px auto; }

  #welcome-147 {
    font-size: 3.3em;
    margin: 5px auto; }

  #welcome-15 {
    font-size: 3.4em; }

  #welcome-145 {
    font-size: 3.1em; }

  #welcome-143 {
    font-size: 2.9em;
    margin: 5px auto; }

  #work-15 {
    font-size: 6.1em; }

  #work-147 {
    font-size: 6.0em;
    margin: 5px auto; }

  #work-145 {
    font-size: 5.8em; }

  #work-143 {
    font-size: 5.6em;
    margin: 5px auto; }

  #hi-15 {
    font-size: 5.3em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 5em;
    margin: 5px auto; }

  #hi-145 {
    font-size: 4.8em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 4.5em;
    margin: 5px auto; } }
@media (max-width: 330px) {
  #welcome-animated-147 {
    font-size: 3.1em;
    margin: 5px auto; }

  #welcome-147 {
    font-size: 3.1em;
    margin: 5px auto; }

  #welcome-15 {
    font-size: 3.2em;
    margin: 0 auto; }

  #welcome-145 {
    font-size: 2.9em;
    margin: 0 auto; }

  #welcome-143 {
    font-size: 2.7em;
    margin: 5px auto; }

  #work-15 {
    font-size: 5.1em; }

  #work-147 {
    font-size: 5.0em;
    margin: 5px auto; }

  #work-145 {
    font-size: 4.8em; }

  #work-143 {
    font-size: 4.6em;
    margin: 5px auto; }

  #hi-15 {
    font-size: 4.3em;
    margin: 0 auto; }

  #hi-147 {
    font-size: 4em;
    margin: 5px auto; }

  #hi-145 {
    font-size: 3.8em;
    margin: 0 auto; }

  #hi-142 {
    font-size: 3.5em;
    margin: 5px auto; } }

/*# sourceMappingURL=styles.css.map */
